.roundOfBestOf {
    color:white;
    font-family: sans-serif;
    font-size:16px;
    padding-bottom:30px;
    user-select:none;
}
.roundOf {
    color:white;
    font-family:sans-serif;
    font-size:36px;
    font-weight:700;
    user-select:none;
}
.roundOfBestOf {
    color:white;
    font-family: sans-serif;
    font-size:16px;
    padding-bottom:30px;
    user-select:none;
}