.bestOfDouble {
    position:relative;
    width:100%;
    margin-top:25px;
}
.bracketLabel {
    color:white;
    margin-top:20px;
    margin-bottom:10px;
    font-family:sans-serif;
    font-weight:700;
    font-size:24px;
}
.bestOfDoubleName {
    display:flex;
    justify-content: flex-end;
    color:white;
    font-family:sans-serif;
    margin-bottom:10px;
}
.bestOfDoubleHeader {
    flex:5;
    color:white;
    font-size:16px;
    font-family:sans-serif;
    display:flex;
    align-items:center;
}
